<div style="text-align:center">
  <h1 style="color: skyblue;">{{ title }}</h1>
  <img width="700" alt="Maiia Logo" src="assets/images/logo.jpg">
</div>
<br/>
<h2 style="margin-left:135px;">Here are the first 50 links extracted from : {{url}}</h2>
<br/>
<ul *ngFor="let post of posts">
  <li class="form-group">
    <div class="form-group">
        <p style="font-weight: bold;">title : </p>
        <p style="font-weight: bold;">body : </p>
        <p style="font-weight: bold;">id : </p>
        <p style="font-weight: bold;">userId : </p>
    </div>
    <div class="form-group">
        <p>{{post.title}}</p>
        <p>{{post.body}}</p>
        <p>{{post.id}}</p>
        <p>{{post.userId}}</p>
    </div>
  </li>
</ul>

